{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/detail_styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="list-item hovered">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-10">
                            <h3>{{ studyprograminuniversity.study_program.name }}</h3>
                        </div>
                        <div class="col-2 bookmark">
                            {% if saved == True %}
                                <svg id="removeFromBookmark" aria-hidden="true" focusable="false" data-prefix="fas"
                                     data-icon="bookmark"
                                     class="svg-inline--fa fa-bookmark fa-w-12" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path fill="currentColor"
                                          d="M0 512V48C0 21.49 21.49 0 48 0h288c26.51 0 48 21.49 48 48v464L192 400 0 512z"></path>
                                </svg>
                            {% else %}
                                <svg id="addToBookmark" aria-hidden="true" focusable="false" data-prefix="far"
                                     data-icon="bookmark"
                                     class="svg-inline--fa fa-bookmark fa-w-12" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path fill="currentColor"
                                          d="M336 0H48C21.49 0 0 21.49 0 48v464l192-112 192 112V48c0-26.51-21.49-48-48-48zm0 428.43l-144-84-144 84V54a6 6 0 0 1 6-6h276c3.314 0 6 2.683 6 5.996V428.43z"></path>
                                </svg>
                            {% endif %}
                        </div>
                    </div>
                    <div class="info">
                        <p class="label-text">Опис:</p>
                        {% if studyprograminuniversity.study_program.description is not none %}
                            <p class="label-info">{{ studyprograminuniversity.study_program.description }}</p>
                        {% else %}
                            <p class="label-info"><i>Відсутній</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">Опис від університету:</p>
                        {% if studyprograminuniversity.description is not none %}
                            <p class="label-info">{{ studyprograminuniversity.description }}</p>
                        {% else %}
                            <p class="label-info"><i>Відсутній</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Ціна:
                        </p>
                        {% if studyprograminuniversity.price is not none %}
                            <p class="label-info">{{ studyprograminuniversity.price }} $</p>
                        {% else %}
                            <p class="label-info"><i>Відсутня</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">
                            К-сть місяців навчання:
                        </p>
                        {% if studyprograminuniversity.duration_in_month is not none %}
                            <p class="label-info">{{ studyprograminuniversity.duration_in_month }}</p>
                        {% else %}
                            <p class="label-info"><i>Невідомо</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Форма навчання:
                        </p>
                        {% if studyprograminuniversity.form_of_study is not none %}
                            <p class="label-info">{{ studyprograminuniversity.form_of_study }}</p>
                        {% else %}
                            <p class="label-info"><i>Невідомо</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Ступінь:
                        </p>
                        {% if studyprograminuniversity.degree is not none %}
                            <p class="label-info">{{ studyprograminuniversity.degree }}</p>
                        {% else %}
                            <p class="label-info"><i>Невідомо</i></p>
                        {% endif %}
                    </div>
                    {% if studyprograminuniversity.scholarship_availability == True %}
                        <div class="info">
                            <p class="label-text">
                                Стипендія:
                            </p>
                            {% if studyprograminuniversity.scholarship_description is not none %}
                                <p class="label-info">{{ studyprograminuniversity.scholarship_description }}</p>
                            {% else %}
                                <p class="label-info"><i>Доступна, але детальна інформація невідома</i></p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="info">
                        <p class="label-text">
                            Початок навчання:
                        </p>
                        {% if studyprograminuniversity.start_of_study is not none %}
                            <p class="label-info">{{ studyprograminuniversity.start_of_study }}</p>
                        {% else %}
                            <p class="label-info"><i>Невідомо</i></p>
                        {% endif %}
                    </div>
                    {% if studyprograminuniversity.duration is not none %}
                        <div class="info">
                            <p class="label-text">
                                Додаткова інформаці щодо тривалості навчання:
                            </p>
                            <p class="label-info">{{ studyprograminuniversity.duration }}</p>
                        </div>
                    {% endif %}
                    <a class="info" href="{% url "university-detail" studyprograminuniversity.university.slug %}">
                        <p class="label-text">Університет:</p>
                        <p class="label-info">{{ studyprograminuniversity.university.name }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $('#addToBookmark').click(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            $.get("/universities/api/v1/add-to-saved?id={{ studyprograminuniversity.id }}")
                .done(function () {
                    alert("Успішно додано до збережених.")
                })
                .fail(function () {
                    alert("Не вдалося додати до збережених.")
                })
                .always(function () {
                    location.reload()
                })
        })

        $('#removeFromBookmark').click(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            $.get("/universities/api/v1/delete-from-saved?id={{ studyprograminuniversity.id }}")
                .done(function () {
                    alert("Успішно додано до збережених.")
                })
                .fail(function (error) {
                    console.log(error)
                    alert("Не вдалося додати до збережених.")
                })
                .always(function () {
                    location.reload()
                })
        })
    </script>
{% endblock %}
