{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="list-item hovered">
            <div class="row">
                <div class="col-12">
                    <h3>{{ studyprograminuniversity.study_program.name }}</h3>
                    <div class="info">
                        <p class="label-text">Опис:</p>
                        {% if studyprograminuniversity.study_program.description is not none %}
                            <p class="label-info">{{ studyprograminuniversity.study_program.description }}</p>
                        {% else %}
                            <p class="label-info"><i>Відсутній</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">Опис від університету:</p>
                        {% if studyprograminuniversity.description is not none %}
                            <p class="label-info">{{ studyprograminuniversity.description }}</p>
                        {% else %}
                            <p class="label-info"><i>Відсутній</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Ціна:
                        </p>
                        {% if studyprograminuniversity.price is not none %}
                            <p class="label-info">{{ studyprograminuniversity.price }} $</p>
                        {% else %}
                            <p class="label-info"><i>Відсутня</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">
                            К-сть місяців навчання:
                        </p>
                        {% if studyprograminuniversity.duration_in_month is not none %}
                            <p class="label-info">{{ studyprograminuniversity.duration_in_month }}</p>
                        {% else %}
                            <p class="label-info"><i>Невідомо</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Форма навчання:
                        </p>
                        {% if studyprograminuniversity.form_of_study is not none %}
                            <p class="label-info">{{ studyprograminuniversity.form_of_study }}</p>
                        {% else %}
                            <p class="label-info"><i>Невідомо</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Ступінь:
                        </p>
                        {% if studyprograminuniversity.degree is not none %}
                            <p class="label-info">{{ studyprograminuniversity.degree }}</p>
                        {% else %}
                            <p class="label-info"><i>Невідомо</i></p>
                        {% endif %}
                    </div>
                    {% if studyprograminuniversity.scholarship_availability == true %}
                        <div class="info">
                            <p class="label-text">
                                Стипендія:
                            </p>
                            {% if studyprograminuniversity.scholarship_description is not none %}
                                <p class="label-info">{{ studyprograminuniversity.scholarship_description }}</p>
                            {% else %}
                                <p class="label-info"><i>Доступна, але детальна інформація невідома</i></p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="info">
                        <p class="label-text">
                            Початок навчання:
                        </p>
                        {% if studyprograminuniversity.start_of_study is not none %}
                            <p class="label-info">{{ studyprograminuniversity.start_of_study }}</p>
                        {% else %}
                            <p class="label-info"><i>Невідомо</i></p>
                        {% endif %}
                    </div>
                    {% if studyprograminuniversity.duration is not none %}
                        <div class="info">
                            <p class="label-text">
                                Додаткова інформаці щодо тривалості навчання:
                            </p>
                            <p class="label-info">{{ studyprograminuniversity.duration }}</p>
                        </div>
                    {% endif %}
                    <a class="info" href="{% url "university-detail" studyprograminuniversity.university.slug %}">
                        <p class="label-text">Університет:</p>
                        <p class="label-info">{{ studyprograminuniversity.university.name }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

