{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center" style="margin: 25px 0 40px 0">
            <h1>University Search System</h1>
        </div>
        <div class="search-panel">
            {% include 'forms/search_form.html' %}
        </div>
        {% for university in object_list %}
            <div class="list-item" style="cursor: pointer"
                 onclick="location.href='{% url "university-detail" university.slug %}';">
                <div class="row">
                    <div class="col-4">
                        <img src="{% static '/img/img.png' %}">
                    </div>
                    <div class="col-8">
                        <h3>{{ university.name }}</h3>
                        <div class="info">
                            <p class="label-text">
                                Країна:
                            </p>
                            <p class="label-info">{{ university.country }}</p>
                        </div>
                        <div class="info">
                            <p class="label-text">Опис:</p>
                            <p class="label-info">{{ university.description }}</p>
                        </div>
                        <div class="info">
                            <p class="label-text">
                                Рейтинг:
                            </p>
                            <p class="label-info">100.0</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var price_from = {{ price_from }};
        var price_to = {{ price_to }};
    </script>
    <script src="{% static '/js/search_form.js' %}"></script>
{% endblock %}
