{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/list_styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center" style="margin: 25px 0 40px 0">
            <h1>University Search System</h1>
        </div>
        <div class="search-panel">
            {% include 'forms/search_form.html' %}
        </div>
        <div class="list-item" onclick="location.href='';">
            <div class="row">
                <div class="col-4">
                    <img src="{% static '/img/img.png' %}">
                </div>
                <div class="col-8">
                    <h3>NAUKMA</h3>
                    <div class="info">
                        <p class="label-text">Опис:</p>
                        <p class="label-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been
                            the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of
                            type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the
                            leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s
                            with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Рейтинг:
                        </p>
                        <p class="label-info">100.0</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item" onclick="location.href='';">
            <div class="row">
                <div class="col-4">
                    <img src="{% static '/img/img.png' %}">
                </div>
                <div class="col-8">
                    <h3>NAUKMA</h3>
                    <div class="info">
                        <p class="label-text">Опис:</p>
                        <p class="label-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been
                            the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of
                            type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the
                            leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s
                            with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Рейтинг:
                        </p>
                        <p class="label-info">100.0</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item" onclick="location.href='';">
            <div class="row">
                <div class="col-4">
                    <img src="{% static '/img/img.png' %}">
                </div>
                <div class="col-8">
                    <h3>NAUKMA</h3>
                    <div class="info">
                        <p class="label-text">Опис:</p>
                        <p class="label-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been
                            the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of
                            type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the
                            leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s
                            with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Рейтинг:
                        </p>
                        <p class="label-info">100.0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    {% for university in object_list %}#}
    {#        <h1><a href="{% url "university-detail" university.slug %}">{{ university.name }}</a></h1>#}
    {#        <p>Country: {{ university.country }}</p>#}
    {#        <p>Study Program:</p>#}
    {#        {% for program in university.study_programs.all %}#}
    {#            <p>{{ program.name }}</p>#}
    {#        {% endfor %}#}
    {#        <p>{{ university.description }}</p>#}
    {#    {% endfor %}#}
{% endblock %}

{% block extra_js %}
    <script src="{% static '/js/search_form.js' %}"></script>
{% endblock %}
