{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="list-item hovered">
            <div class="row">
                <div class="col-4">
                    <img src="{% static '/img/img.png' %}">
                </div>
                <div class="col-8">
                    <h3>{{ university.name }}</h3>
                    <div class="info">
                        <p class="label-text">
                            Країна:
                        </p>
                        <p class="label-info">{{ university.country }}</p>
                    </div>
                    <div class="info">
                        <p class="label-text">Опис:</p>
                        {% if university.description is not none %}
                            <p class="label-info">{{ university.description }}</p>
                        {% else %}
                            <p class="label-info"><i>Відсутній</i></p>
                        {% endif %}
                    </div>
                    <div class="info">
                        <p class="label-text">
                            Рейтинг:
                        </p>
                        <p class="label-info">100.0</p>
                    </div>
                    {% for program in university.study_programs.all %}
                        <div class="info">
                            <p class="label-text">Назва програми:</p>
                            <p class="label-info">{{ program.name }}</p>
                        </div>
                        <div class="info">
                            <p class="label-text">Опис програми:</p>
                            <p class="label-info">{{ program.description }}</p>
                        </div>
                        <p>{{ program.name }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

