{% extends "accounts/base_profile.html" %}
{% load i18n static core_tags %}

{% block title %}{% trans "My account" %}{% endblock %}

{% block profile_content %}
    {% if extra_message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <div>{{ extra_message }}</div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="container account-container">
        <div class="d-flex justify-content-center" style="margin: 25px 0 40px 0">
            <h1>University Search System</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h2 class="mb-4">Особистий кабінет</h2>
        </div>
        <div class="container">
            <div class="row account-info-row">
                <div class="col-6 account-info-row-title">Ім'я</div>
                <div class="col-6">{{ user.first_name }}</div>
            </div>
            <div class="row account-info-row">
                <div class="col-6 account-info-row-title">Прізвище</div>
                <div class="col-6">{{ user.last_name }}</div>
            </div>
            <div class="row account-info-row">
                <div class="col-6 account-info-row-title">Електронна пошта</div>
                <div class="col-6">{{ user.email }}</div>
            </div>
            {% if not user.is_verified %}
                <div class="row account-info-row">
                    <div class="col-12 red-text">Ваша електронна пошта не підтверджена. Будь ласка, перевірте лист з
                        підтвердженням.
                    </div>
                </div>
            {% endif %}
            {% if user.has_usable_password %}
                <div class="row account-password-row">
                    <div class="col-6">
                        <a href="{% url 'password_change' %}" class="button" style="text-decoration: none">Змінити
                            пароль</a>
                    </div>
                    <div class="edit-button-container col-6 d-flex justify-content-end">
                        <a href="{% url 'edit_personal_information' %}"
                           class="button" style="text-decoration: none">Редагувати профіль</a>
                    </div>
                </div>
            {% else %}
                <div class="row account-password-row">
                    <div class="col-6">
                        <a href="{% url 'password_create' %}" class="button" style="text-decoration: none">Створити
                            пароль</a>
                    </div>
                    <div class="edit-button-container col-6">
                        <a href="{% url 'edit_personal_information' %}"
                           class="button" style="text-decoration: none">Редагувати профіль</a>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="container">
            <h2>Збережені</h2>
        </div>
        <div class="container">
            <h2>Історія пошуку</h2>
        </div>
    </div>

{% endblock %}
