/* ==========================================================================
   #FORM
   ========================================================================== */
input,
textarea {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
    font-family: inherit;
}

input:disabled {
    cursor: pointer;
    background: transparent;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
}

/* CHECKBOX */
/* Radio button */
.radio-row {
    padding-top: 10px;
}

.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
    background-color: #fff;
}

.radio-container input:checked ~ .radio-checkmark {
    background-color: #fff;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

.radio-container .radio-checkmark:after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #00ad5f;
}

.input-group {
    position: relative;
    margin-bottom: 23px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 20px;
    padding-bottom: 10px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}

.form::after {
    content: "";
    clear: both;
    display: table;
}

.input-icon {
    font-size: 24px;
    color: #808080;
    position: absolute;
    line-height: 60px;
    right: 20px;
    top: 0;
    width: 20px;
    background: #fff;
    text-align: center;
    cursor: pointer;
}

.input-icon::before {
    display: block;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.label {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
}

.input--large {
    width: 300px;
}

.input--medium {
    width: 190px;
}

@media (max-width: 767px) {
    .input--large,
    .input--medium {
        width: 100%;
    }
}

.input--style-1 {
    font-size: 18px;
    padding: 9px 0;
    color: #666;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.input--style-1::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #333;
}

.input--style-1:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #333;
    opacity: 1;
}

.input--style-1::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #333;
    opacity: 1;
}

.input--style-1:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333;
}

.input--style-1:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #333;
}

@media (max-width: 767px) {
    .m-b-0 {
        margin-bottom: 26px;
    }
}

/* ==========================================================================
   #SELECT
   ========================================================================== */
.quantity {
    font-size: 18px;
    color: #333;
}

.icon-con {
    position: absolute;
    width: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    background: #f2f2f2;
    right: 11px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card-7 {
    background: transparent;
    position: relative;
}

.card-7 .card-body {
    padding: 0 20px;
}

.col-3 {
    padding-left: 0;
    padding-right: 0;
}

.col-3 .input-group {
    margin-right: 0;
}

select.input--style-1 {
    max-width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #345DBB;
}

/* Styling;
 */
.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background: #345DBB;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

.noUi-target.noUi-connect {
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}

#searchBtn {
    background-color: #3CA89A;
    border-radius: 10px;
    margin-bottom: 23px;

    display: flex;
    justify-content: center;

    cursor: pointer;

    box-shadow: 2px 7px 30px rgba(0, 0, 0, .24);

    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

#searchBtn:hover {
    top: -3px;
    box-shadow: 2px 7px 30px rgba(0, 0, 0, .44);
}

#searchBtn svg {
    width: 100px;
    height: auto;
    color: white;
}

form.form {
    margin: 40px 0;
}
